[Unit]
Description=Ping router service

[Service]
Type=simple
User=root
Restart=always
RestartSec=15s
ExecStart=/etc/systemd/system/wifi/wifi.sh

[Install]
WantedBy=multi-user.target
